{% extends "auctions/layout.html" %}

{% block body %}
<!-- Headline -->
<div class="mx-5 my-2 container">
    <div class="mx-5">
        <h3>{{ headline }}</h3>
    </div>
</div>

<!-- Content -->
<div class="m-5 d-flex flex-wrap justify-content-evenly ">
    {% for category in categories %}
    <div class="mb-2 d-block">
        <div class="btn btn-sm btn-light border rounded-0 text-uppercase text-decoration-none text-secondary fw-bold opacity-75">
            <a href="{% url 'listing_category' category_name=category %}"
        class="text-uppercase text-decoration-none text-secondary fw-bold opacity-75">{{category}}</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}