{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container-fluid my-5">

        <div class="row mx-5">

            <!-- Image -->
            <div class="col-md-7 col-lg-5 px-5 py-3">
                <!-- Active listing -->
                {% if auction.active == True %}
                <img 
                {% if auction.image %}
                src="{{ auction.image }}"
                {% else %}
                src="https://i.imgur.com/vLDtrNC.jpg"
                {% endif %}
                class="img-fluid" alt="{{ auction.title }}">
                <!-- Closed listing -->
                {% else %}
                <div class="position-relative">
                    <img 
                    {% if auction.image %}
                    src="{{ auction.image }}"
                    {% else %}
                    src="https://i.imgur.com/vLDtrNC.jpg"
                    {% endif %}
                    class="img-fluid" alt="{{ auction.title }}" style="filter: brightness(75%);">
                    <!-- Overlay -->
                    <h3 class="displaly-fluid text-white position-absolute top-50 start-50 translate-middle">CLOSED</h3>
                </div>
                {% endif %}

                <!-- Line -->
                <hr>

            </div>


            <!-- Details -->
            <div class="row col-md-5 col-lg-7 px-5 py-3 container-fluid">
                <!-- <div class="border-bottom"> -->

                    <!-- Breadcrumbs -->
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' opacity='50%' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                        aria-label="breadcrumb" class="small text-muted b-crumb">
                        <ol class="breadcrumb mb-1">
                            <li class="breadcrumb-item text-uppercase "><a href="{% url 'index' %}"
                                    class="text-decoration-none text-secondary fw-bold opacity-50">Listing</a></li>
                            <li class="breadcrumb-item text-uppercase active" aria-current="page">
                                <a href="{% url 'listing_category' auction.category %}"
                                    class="text-decoration-none text-secondary fw-bold opacity-50">{{auction.category}}</a>
                            </li>
                        </ol>
                    </nav>

                    <!-- Title -->
                    <h2 class="my-0 d-inline">{{ auction.title }}</h2>
                    <span class="text-end small text-muted fw-light text-end">by {{ auction.lister }}</span>

                    <!-- Line -->
                    <hr>

                    <!-- Description -->
                    <div class="my-0">
                        <div class="fw-light">{{ auction.description }}</div>
                    </div>

                    <!-- Bid -->
                    <div class="my-4">
                        <div class="fw-light my-3">Start bid: <span class="fw-bold">${{ auction.start_bid }}</span></div>
                        <div class="fw-light my-3">Current bid: <span class="fw-bold">${{ auction.current_bid }}</span></div>
                        <div class="d-flex flex-wrap">
                            <!-- Bid -->
                            <form action="{% url 'bid' id=auction.id %}" method="POST">
                                {% csrf_token %}
                                <div class="col-6 d-flex flex-wrap justify-content-center">
                                    <input type="number" class="rounded-0 border-0 border border-bottom form-control mb-3" name="bid" placeholder="Your bid" autocomplete="off">
                                    <input class="btn btn-sm btn-light text-uppercase text-decoration-none text-secondary fw-bold opacity-75" type="submit" value="Bid">
                                </div>
                            </form>

                            <!-- <div class="input-group mb-3">
                                <span class="input-group-text rounded-0 border-0 border border-bottom mb-3">$</span>
                                <input type="number" step="any" class="rounded-0 border-0 border border-bottom form-control mb-3"
                                    placeholder="Start Bid" autocomplete="off" name="start_bid">
                            </div> -->

                            <!-- Wishlist / Close listing -->
                            <div class="col-6 d-flex flex-wrap align-items-end justify-content-center">
                                {% if user == auction.lister %}
                                <input class="btn btn-sm btn-light text-uppercase text-decoration-none text-secondary fw-bold opacity-75"
                                    type="submit" value="Close Listing">
                                {% else %}
                                <input class="btn btn-sm btn-light text-uppercase text-decoration-none text-secondary fw-bold opacity-75"
                                    type="submit" value="Watch">
                                {% endif %}
                            </div>
                        </div>
                    </div>

                <!-- </div> -->
                <!-- <hr> -->
            </div>

        </div>


        <!-- Comment -->
        <div class="row mx-5">
            <!-- Comment form -->
            <div class="col-md-7 col-lg-5 px-5 py-3">
                <form action="{% url 'comment' id=auction.id %}" method="post" class="my-4">
                    {% csrf_token %}
                    <textarea class="i_desc rounded-0 border-0 border border-bottom form-control mb-3" rows="3" name="comment"
                        placeholder="Add comment"></textarea>
                    <input class="btn btn-sm btn-light text-uppercase text-decoration-none text-secondary fw-bold opacity-75" type="submit" value="Post">
                </form>
            </div>
            <!-- Listing's comments -->
            <div class="col-md-5 col-lg-7 px-5 py-3">
            {% if not comments %}
                <div class="fw-light text-center">
                    No comments.
                </div>
            {% else %}
            {% for comment in comments %}
                {% if auction.lister != comment.user %}
                <div class="d-flex text-start justify-content-start">
                {% else %}
                <div class="d-flex text-end justify-content-end">
                {% endif %}
                    <div>
                        <div class="fw-bold">{{ comment.user }}</div>
                        <div class="small opacity-50 fw-light mb-2">{{ comment.date }}</div>
                        <div class="fw-light ">{{comment.comment}}</div>
                    </div>
                </div>
                <hr>
            {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}