{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container mx-5">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-7 col-xl-6 p-5 border border-primary">
                <img src="{{ auction.image }}" class="img-fluid" alt="{{ auction.title }}">
            </div>
            <div class="col-sm-12 col-md-4 col-lg-5 col-xl-6 p-5 border border-info">
                <h2>{{ auction.title }}</h2>
                <p class="text-end">${{ auction.start_bid }}</p>
                <p>{{ auction.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}