{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container-fluid my-5">
        <div class="row mx-5">
            <!-- Left -->
            <div class="col-md-7 col-lg-5 p-5">
            <!-- Active listing -->
            {% if auction.active == True %}
                <!-- Active listing with image -->
                {% if auction.image %}
                <img src="{{ auction.image }}" class="img-fluid border-bottom" alt="{{ auction.title }}">
                <!-- Active listing no image -->
                {% else %}
                <img src="https://i.ibb.co/ggyYPM1/no-Photo-Available.jpg" class="img-fluid border-bottom" alt="{{ auction.title }}">
                {% endif %}
            <!-- Closed listing -->
            {% else %}
                <div class="position-relative">
                    <!-- Closed listing with image -->
                    {% if auction.image %}
                    <img src="{{ auction.image }}" class="img-fluid border-bottom" alt="{{ auction.title}}" style="filter: brightness(75%);">
                    <!-- Closed listing no image -->
                    {% else %}
                    <img src="https://i.ibb.co/ggyYPM1/no-Photo-Available.jpg" class="img-fluid border-bottom" alt="{{ auction.title}}" style="filter: brightness(75%);">
                    {% endif %}
                    <!-- Overlay -->
                    <h3 class="displaly-fluid text-white position-absolute top-50 start-50 translate-middle">CLOSED</h3>
                </div>
            {% endif %}
            </div>
            <!-- Right -->
            <div class="col-md-5 col-lg-7 p-5">
                <!-- Breadcrumbs -->
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' opacity='50%' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"aria-label="breadcrumb" class="small text-muted">
                    <ol class="breadcrumb mb-1">
                        <li class="breadcrumb-item text-uppercase "><a href="{% url 'index' %}" class="text-decoration-none text-secondary fw-bold opacity-25">Listing</a></li>
                        <li class="breadcrumb-item text-uppercase active" aria-current="page">
                            <!-- <a href="{% url 'listing' id=auction.id %}" class="text-decoration-none text-secondary fw-bold opacity-25">{{auction.category}}</a> -->
                            <a href="{% url 'listing_category' category=auction.category %}"
                                class="text-decoration-none text-secondary fw-bold opacity-25">{{auction.category}}</a>
                        </li>
                    </ol>
                </nav>
                <!-- Title -->
                <h2 class="pt-2 pb-0 h-5">{{ auction.title }}</h2> 
                <!-- <span class="small pb-3 fw-lighter">Listed by {{auction.lister}}</span> -->
                <!-- Bid -->
                <div class="pt-1 pb-5">
                    <div class="text-end fw-lighter">Highest bid: <span class="fw-bold">${{ auction.start_bid }}</span></div>
                </div>
                <!-- Details -->
                <!-- <p class="fw-lighter">Details:</p> -->
                <p class="fw-lighter">{{ auction.description }}</p>
                

                <div class="row">
                    <div class="col-6 mx-5 fw-lighter">
                        <!-- <button>Add to watchlist</button> -->
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <!-- <input type="text" name="" id="">  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}