{% extends "auctions/layout.html" %}

{% block body %}
<div class="m-5 container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="mx-5">

                <h2 class="mb-3">Login</h2>
                
                <form action="{% url 'login' %}" method="post" class="my-4">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <input type="text" autofocus class="rounded-0 border-0 border border-bottom form-control mb-3" name="username" placeholder="Username" autocomplete="off">
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" class="rounded-0 border-0 border border-bottom form-control mb-3" name="password" placeholder="Password">
                    </div>
                    <div class="row">
                        <div class="col-4 ">
                            <input class="btn btn-light text-uppercase text-decoration-none text-secondary fw-bold opacity-75" type="submit" value="Login">
                        </div>
                        <div class="col-8">
                            {% if message %}
                            <div class="text-muted small">{{ message }}</div>
                            {% endif %}
                        </div>
                    </div>
                </form>
                <p class="fw-lighter mb-0">Don't have an account? <a href="{% url 'register' %}" class="fw-normal nav-link d-inline mx-1">Register!</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}